.MealDetails {
    margin-top: 30px;
    color: wheat;
    margin-bottom: 150px;
    margin-left: 60px;
    margin-right: 60px;
}

.MealDetails img {
    margin: 0 auto;
    border-left: 4px solid rgb(171, 95, 225);
    border-right: 4px solid rgb(171, 95, 225);
    border-radius: 10px;
    width: 30%;
}

.NameHeading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}

.mealDetailHeading {
    margin-bottom: 10px;
}

.sourceLink {
    background-color: rgba(18, 55, 70, 0.705);
    color: rgb(171, 95, 225);
    text-decoration: underline;
    padding: 2px 10px;
    margin-left: 20px;
    border-radius: 5px;
}