.ul {
    background-color: rgb(18, 18, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

.li a {
    color: wheat;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}