.header {
    text-align: center;
    background-color: rgb(195, 213, 229);
}


.navlinks .navlink {

    color: black;
    padding: 0px 20px;
    background-color: rgb(230, 238, 245);
    text-decoration: none;

}